# Ignore the node modules folder (created by 'npm install').
/node_modules

# Ignore the node log file (created by 'npm install' if there was any error).
/npm-debug.log

# We absolutely don't want to have the .sass-cache in git.
.sass-cache

# Ignore vendor folder.
/sources/vendor
!/sources/vendor/README.md

# Ignore all temporary files in /sources/tmp folder.
/sources/tmp/*
!/sources/tmp/README.md
!/sources/tmp/js/README.md
!/sources/tmp/css/README.md

# Ignore build files in /build folder.
/build
!/build/README.md

# Ignore all generated assets.
#/assets/css/*
#!/assets/css/README.md
#/assets/fonts/*
#!/assets/fonts/README.md
#/assets/images/*
#!/assets/images/README.md
#/assets/js/*
#!/assets/js/README.md
#/assets/vendor/*
#!/assets/vendor/README.md
